<div class="main-div">
  <mat-card>
    <div *ngIf="messages?.length === 0">
      <h1>No messages!</h1>
    </div>
    <div class="message-container" [ngClass]="{'receiver-message-container': message.userId === currentUserId}" *ngFor="let message of messages">
      <span>
        {{message.content}}
        <small>
          {{message.createdDate | date}}
        </small>
      </span>
      <span></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="reportOnMessage(message.id)">Report message</button>
      </mat-menu>
    </div>
    <mat-divider></mat-divider>
    <app-message-form [currentUserId]="currentUserId" [conversationId]="conversation.id" (messageSent)="messageSent($event)"></app-message-form>
    <mat-paginator showFirstLastButtons
              [length]="pagination.totalItems"
              [pageSize]="pagination.itemsPerPage"
              [pageSizeOptions]="[10, 20, 30, 40, 50]"
              (page)="onPageChange($event)">
    </mat-paginator>
  </mat-card>
</div>
