<mat-toolbar color="primary">
  <span>SocialNetwork</span>
  <div *ngIf="loggedIn()">
    <a mat-flat-button color="primary" [routerLink]="['/conversations']"><mat-icon>email</mat-icon> Conversations</a>
    <a mat-flat-button color="primary" [routerLink]="['/friends']"><mat-icon>people</mat-icon> Friends</a>
  </div>
  <span class="spacer"></span>
  <div *ngIf="loggedIn()">
    <button mat-button [matMenuTriggerFor]="menu">Welcome {{authService.decodedToken?.unique_name | titlecase}}!</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/user/edit']">Edit Profile</button>
      <button mat-menu-item [routerLink]="['/admin']">Admin Panel</button>
      <button (click)="logout()" mat-menu-item>Logout</button>
    </mat-menu>
  </div>
  <div *ngIf="!loggedIn()">
    <a mat-flat-button color="primary" [routerLink]="['/login']">Login</a>
    <a mat-flat-button color="primary" [routerLink]="['/register']">Registration</a>
  </div>
</mat-toolbar>