<div class="main-div">
  <mat-card>
    <mat-card-header>
        <mat-card-title><h2>{{ user.name }} {{ user.surname }}</h2></mat-card-title>
        <mat-card-subtitle>Last active {{ user.lastActive | date:'medium' | timeAgo }}</mat-card-subtitle>
    </mat-card-header>
    <div *ngIf="currentUserId != user.id">
        <app-friendship-actions [userId]="user.id" [currentUserId]="currentUserId"></app-friendship-actions>
        <app-conversation-actions [userId]="user.id" [currentUserId]="currentUserId"></app-conversation-actions>
    </div>
    <mat-card-content>
      <mat-list>
        <mat-list-item>Status: {{ user.status }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Date of birth: {{ user.dateOfBirth | date}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Gender: {{ user.gender }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>City: {{ user.city }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Country: {{ user.country }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Activities: {{ user.activities }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            Favorite Movies: {{ user.favoriteMovies }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Favorite Games: {{ user.favoriteGames }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            Favorite Quotes: {{ user.favoriteQuotes }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
