.friend-card {
  margin-bottom: 10px;
}

.main-div {
  margin-inline: auto;
  width: 90%;
  padding: 15px;
}

a {
  text-decoration: none;
}

a:link {
  color: blueviolet;
}

a:visited {
  color: blueviolet;
}

a:hover {
  color: violet;
}

a:active {
  color: blueviolet;
}
