<div *ngIf="friendshipWithStatus; else addFriendContent">
  <button mat-raised-button [matMenuTriggerFor]="menu">
    Friendship status: {{ friendshipWithStatus?.status }}
  </button>
  <mat-menu #menu="matMenu">
    <button
      *ngIf="friendshipWithStatus.status == 'Accepted'"
      mat-menu-item
      (click)="removeFriend(friendshipWithStatus.id)"
    >
      Remove from friendlist
    </button>
    <div *ngIf="friendshipWithStatus.status == 'Pending'">
      <button
        *ngIf="currentUserId == friendshipWithStatus.receiverId"
        mat-menu-item
        (click)="acceptFriendRequest(friendshipWithStatus.id)"
      >
        Accept request
      </button>
      <button
        mat-menu-item
        (click)="declineFriendRequest(friendshipWithStatus.id)"
      >
        Decline request
      </button>
    </div>
  </mat-menu>
</div>
<ng-template #addFriendContent>
  <button mat-flat-button color="primary" (click)="addFriend(userId)">
    Add friend
  </button>
</ng-template>
