<div class='main-div'>
  <div class='mat-h1 mat-headline'>
    Hello! Let`s find your friends!
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente consequatur qui necessitatibus quia neque maiores repellendus ex quidem dolores eligendi mollitia officiis possimus perferendis autem amet, ad iste cumque suscipit.
    Impedit facere quia, vitae consequatur animi magni? Obcaecati expedita minima eaque aperiam perferendis rem in quos cumque minus neque, vero ipsa error, nisi, assumenda voluptate accusantium. Eius ullam dolores nulla.
    Numquam deserunt quisquam autem quia nobis fugiat voluptatem sit nemo illum quae cupiditate asperiores, laboriosam ullam corrupti eligendi aut modi doloremque voluptatum reprehenderit accusantium molestias tempora? Excepturi enim voluptates cum?
    A id, tempora nobis officia nulla consequuntur iste nemo ab. Ab, quos error. Recusandae nobis et odit porro praesentium, tenetur rem delectus, cupiditate necessitatibus rerum itaque quasi nihil consectetur consequatur.
    Veritatis nulla accusantium unde ex ut fugit assumenda magni optio fuga ipsum maxime sint ratione, in tenetur dolorum facilis tempore numquam temporibus vel harum error earum. Quia aliquam cupiditate repellat?
  </div>
</div>
